<div class="comment-container text-center", data-id="<%= @post.id %>">
    <h1>Comments</h1>
    <%=link_to "Back to Posts", topic_posts_path, class: 'btn btn-primary' %>

    <div class="comment-parent" id="comments">
        <% @comments.each do |comment| %>
          <%= render partial: "comment", locals: { comment: comment, post: @post, topic: @topic } %>
        <%end%>
    </div>

    <%=paginate @comments%>

    <div class="form-container">
        <%= render partial: "form", locals: { comment: @comment, post: @post } %>
    </div>
</div>
