<div class="landing">
    <div class="background">
        <div class="content">
            <h1 class="first-title white">Welcome to classroom discussions</h1>
            <hr class="line">
            <%if current_user%>
            <%=link_to "Welcome, #{current_user.username}",edit_user_path(current_user), class: "Button"%>
            <%end%>
        </div>
    </div>

    <div class="background-2">
        <div class="content">
            <h1 class="second-title white">Classroom Discussions</h1>
            <hr class="line">

        </div>
    </div>

    <section class="features-container">
        <h1 class="features-title text-center">
            Features
            <hr class="short-underline">
        </h1>

        <div class="features text-center">

            <div class="feature">
                <%= fa_icon 'globe 4x', class: 'icon-settings' %>
                <h2>Building global communities</h2>
            </div>
            <div class="feature">
                <%= fa_icon 'users 4x', class: 'icon-settings' %>
                <h2>Reaching out to people</h2>
            </div>
            <div class="feature">
                <%= fa_icon 'comments-o 4x', class: 'icon-settings' %>
                <h2>Have meaningful discussion</h2>
            </div>
            <div class="feature">
                <%= fa_icon 'mobile 4x', class: 'icon-settings' %>
                <h2>Talk Mobile!</h2>
            </div>
        </div>

    </section>

    <section class="pictures-container">
        <div class="pictures">
            <div class="photo">
                <div class="yellow-layout">
                    <h2 class="text-center layout-title">Science</h2>
                </div>
                <%= image_tag "pic1.jpeg", class: 'pic-setting' %>
            </div>
            <div class="photo">
                <div class="yellow-layout">
                    <h2 class="text-center layout-title">Programming</h2>
                </div>
                <%= image_tag "pic2.jpeg", class: 'pic-setting' %>
            </div>
            <div class="photo">
                <div class="yellow-layout">
                    <h2 class="text-center layout-title">Music</h2>
                </div>
                <%= image_tag "pic3.jpeg", class: 'pic-setting' %>
            </div>
            <div class="photo">
                <div class="yellow-layout">
                    <h2 class="text-center layout-title">Language</h2>
                </div>
                <%= image_tag "pic4.jpeg", class: 'pic-setting' %>
            </div>

        </div>

    </section>

    <section>
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <%=image_tag "pic1.jpeg", class:'carousel-img'%>
        </div>

        <div class="item">
            <%=image_tag "pic2.jpeg", class:'carousel-img'%>
        </div>

        <div class="item">
          <%=image_tag "pic3.jpeg", class:'carousel-img'%>
        </div>

        <div class="item">
           <%=image_tag "pic4.jpeg", class:'carousel-img'%>
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    </section>


    <hr class="break">
    <div class="Contact-info">
        <h1 class="text-center">Need an expert advice?
            <hr class="short-underline">
        </h1>
        <hr class="break-lines">
        <div class="Contact-details text-center">
            <div class="Mobile">
                <%= fa_icon 'phone 3x', class: 'icon-settings'%>
                <h5>
                    <b>+6012-3456789</b>
                </h5>
            </div>
            <div class="Email">
                <%= fa_icon 'envelope-o 3x', class: 'icon-settings'%>
                <h5>
                    <b>yourenquiries@gmail.com</b>
                </h5>
            </div>
        </div>
    </div>


</div>
