<div class="landing">
  <div class="background">
    <div class="content">
      <font color="white"><h1>A place for mobile phone fanatics</h1></font>
    </div>
  </div>

  <div class="background-2">
    <div class="content">
      <font color="black"><h1>Where great tips are shared</h1></font>
    </div>
  </div>

  <section class="features-container">
    <h1 class="features-title text-center">
      Features
        <hr class="short-underline">
    </h1>




  <div class="features text-center">

        <div class="feature">
          <%= fa_icon 'globe 4x', class: 'icon-settings' %>
          <h2>Building global communities</h2>
        </div>
        <div class="feature">
            <%= fa_icon 'users 4x', class: 'icon-settings' %>
          <h2>Reaching out to people</h2>
        </div>
        <div class="feature">
            <%= fa_icon 'comments-o 4x', class: 'icon-settings' %>
          <h2>Have meaningful discussion</h2>
        </div>
        <div class="feature">
            <%= fa_icon 'mobile 4x', class: 'icon-settings' %>
          <h2>Talk Mobile!</h2>
        </div>
  </div>

  </section>

  <section class="pictures-container">
    <div class="pictures">
      <div class="photo">
        <div class="yellow-layout">
          <h2 class="text-center layout-title">Iphone</h2>
        </div>
        <%= image_tag "iphone.jpeg", class: 'pic-setting' %>
      </div>
      <div class="photo">
        <div class="yellow-layout">
          <h2 class="text-center layout-title">Samsung</h2>
        </div>
        <%= image_tag "samsung.jpeg", class: 'pic-setting' %>
      </div>
      <div class="photo">
        <div class="yellow-layout">
          <h2 class="text-center layout-title">Windows Phone</h2>
        </div>
        <%= image_tag "windowsphone.jpeg", class: 'pic-setting' %>
      </div>
      <div class="photo">
        <div class="yellow-layout">
          <h2 class="text-center layout-title">Xiao Mi</h2>
        </div>
        <%= image_tag "xiaomi.jpeg", class: 'pic-setting' %>
      </div>

    </div>

  </section>

  <hr class="break">
  <div class="Contact-info">
    <h1 class="text-center">Need an expert advice?
        <hr class="short-underline">
    </h1>
    <hr class="break-lines">
    <h5 class="information text-center">
      We aim to be a one-stop place for all your mobile devices discussions. We have a library of information shared across the globe by millions of users. The forums is well moderated and covers a wide range of topics. In the event if your question cant be found in the discussion board, please feel free to write to our experts and we will respond promptly.
    </h5>
    <hr class="break-lines">
    <div class="Contact-details text-center">
      <div class="Mobile">
        <%= fa_icon 'phone 3x'%>
        <h5><b>+6012-3456789</b></h5>
      </div>
      <div class="Email">
        <%= fa_icon 'envelope-o 3x'%>
        <h5><b>yourenquiries@gmail.com</b></h5>
      </div>
    </div>
  </div>

</div>
