<div class="landing">
  <div class="background">
    <div class="content">
      <h1>Welcome to the magic forums</h1>
    </div>
  </div>

  <div class="background-2">
    <div class="content">
      <h1>Where cool people meet</h1>
    </div>
  </div>

  <section class="features-container">
    <h1 class="features-title text-center">
      Features
        <hr class="short-underline">
    </h1>




  <div class="features text-center">

        <div class="feature">
          <%= fa_icon 'globe 4x', class: 'icon-settings' %>
          <h2>Building global communities</h2>
        </div>
        <div class="feature">
            <%= fa_icon 'users 4x', class: 'icon-settings' %>
          <h2>Reaching out to people</h2>
        </div>
        <div class="feature">
            <%= fa_icon 'comments-o 4x', class: 'icon-settings' %>
          <h2>Have meaningful discussion</h2>
        </div>
        <div class="feature">
            <%= fa_icon 'money 4x', class: 'icon-settings' %>
          <h2>Talk Finance!</h2>
        </div>
  </div>

  </section>

  <section class="pictures-container">
    <div class="pictures">
      <div class="photo">
        <div class="yellow-layout">
          <h2 class="text-center layout-title">Gold</h2>
        </div>
        <%= image_tag "pic1.jpeg", class: 'pic-setting' %>
      </div>
      <div class="photo">
        <div class="yellow-layout">
          <h2 class="text-center layout-title">Slippers</h2>
        </div>
        <%= image_tag "pic2.jpeg", class: 'pic-setting' %>
      </div>
      <div class="photo">
        <div class="yellow-layout">
          <h2 class="text-center layout-title">Socks</h2>
        </div>
        <%= image_tag "pic3.jpeg", class: 'pic-setting' %>
      </div>
      <div class="photo">
        <div class="yellow-layout">
          <h2 class="text-center layout-title">Sandals</h2>
        </div>
        <%= image_tag "pic4.jpeg", class: 'pic-setting' %>
      </div>

    </div>

  </section>

  <hr class="break">
  <div class="Contact-info">
    <h1 class="text-center">My Contact Information
        <hr class="short-underline">
    </h1>
    <hr class="break-lines">
    <h5 class="information text-center">
      Here is my phone number and email address.Here is my phone number and email address.
      Here is my phone number and email address. Here is my phone number and email address.
      Here is my phone number and email address.Here is my phone number and email address.
      Here is my phone number and email address. Here is my phone number and email address.
    </h5>
    <hr class="break-lines">
    <div class="Contact-details text-center">
      <div class="Mobile">
        <%= fa_icon 'phone 3x'%>
        <h5><b>+6012-3456789</b></h5>
      </div>
      <div class="Email">
        <%= fa_icon 'envelope-o 3x'%>
        <h5><b>+testing123@gmail.com</b></h5>
      </div>
    </div>
  </div>

</div>
