<div class="post-child">
  <div class="post-child-container ">
    <div class="post-content column-normal">
      <%=image_tag post.image, class: "post-image"%>
    </div>
    <div class="post-content column-big">
      <h3><%= link_to post.title, topic_post_comments_path(@topic, post)%></h3>
      <h5><%= post.body %></h5>
    </div>
    <div class="post-content column-normal">
      <%=link_to "Posted by #{post.user.username} at #{post.created_at}", root_path %>
        <div class="post-button">
          <button ><%=link_to "Edit", edit_topic_post_path(@topic, post)%></button>
          <button ><%=link_to "Delete", topic_post_path(@topic, post), method: :delete, data: {Confirm: "Delete?"}%></button>
        </div>
    </div>
  </div>
</div>
